# Cache, temp and personal files

/.htaccess
*.log
.idea/
.git/
!index.php
!fileType

# Cache
/cache/
!/cache/.htaccess
!/cache/deprecated.txt
!/cache/push/activity
!/cache/push/trends

# Download
/download/
!/download/.htaccess

# Images
/img/
!/img/.htaccess
!/img/404.gif
!/img/bg_500.png
!/img/bg_loader.png
!/img/favicon.ico
!/img/loader.gif
!/img/loadingAnimation.gif
!/img/logo.jpg
!/img/logo.png
!/img/logo_invoice.jpg
!/img/logo_stores.png
!/img/macFFBgHack.png
!/img/prestashop-avatar.png
!/img/prestashop@2x.png
!/img/preston-login-wink@2x.png
!/img/preston-login@2x.png
!/img/questionmark.png
!/img/jquery-ui
!/img/scenes
!/img/flags
!/img/admin/color.png

# Upload
/upload/
!/upload/.htaccess

/docs/phpdoc-sf/
*.hot-update.js
*.hot-update.json

/administration/autoupgrade/

/administration/backups/
!/administration/backups/.htaccess

/administration/import/
!/administration/import/.htaccess

/administration/export/
!/administration/export/.htaccess

# Downloaded RTL files
/administration/themes/default/css/bundle/default_rtl.css
/administration/themes/default/css/bundle/shared_rtl.css
/administration/themes/default/css/font_rtl.css
/administration/themes/default/css/overrides_rtl.css
/administration/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
/administration/themes/default/css/vendor/nv.d3_rtl.css
/administration/themes/default/css/vendor/titatoggle-min_rtl.css
/administration/themes/default/public/theme_rtl.css
/administration/themes/new-theme/css/module/drop_rtl.css
/administration/themes/new-theme/css/right-sidebar_rtl.css

themes/*/cache/

# Config

config/settings.inc.php
config/settings.old.php
config/xml/*
config/themes/*
themes/*/config/settings_*.json
app/config/parameters.old.yml
app/config/config.php

# modules

modules/
!modules/.gitkeep
!modules/advancedstock
!modules/emarketing
!modules/followup
!modules/gamification
!modules/ps_accounts
!modules/ps_buybuttonlite
!modules/ps_emailalerts
!modules/ps_eventbus
!modules/ps_mbo
!modules/ps_metrics
!modules/psaddonsconnect
!modules/psgdpr
!modules/referralprogram
!modules/mailchimppro

# Custom modules
!modules/planningdeliverybycarrier
!modules/swissbilling
!modules/tunnelvente
!modules/tunnelventeabies
!modules/suivicommandes
!modules/customersearch
!modules/gszonevente
!modules/ecosapinorders
!modules/ecosapinpartners
!modules/pm_advancedpack
!modules/editorial
!modules/ps_googleanalytics
!modules/adroll

# Themes
themes/*/
!themes/classic
!themes/_core
!themes/_libraries
!themes/ecosapin
!themes/ecosapin_NewTheme
!themes/myabies

# Vendors and dependencies

bower_components/
node_modules/
composer.phar
php-cs-fixer
.grunt/

# Translations and emails templates

/translations/
!translations/cldr/.htaccess
mails/
!mails/themes/
!mails/_partials/
themes/default-bootstrap/lang/
themes/default-bootstrap/modules/*/translations/*.php
themes/default-bootstrap/mails/
!themes/default-bootstrap/mails/en/
themes/default-bootstrap/modules/*/mails/
!themes/default-bootstrap/modules/*/mails/en

# MISC

*sitemap.xml
/robots.txt

# Symfony

/bin/
/app/Resources/geoip/GeoLite2-City.mmdb
/app/Resources/translations/
!/app/Resources/translations/default
/app/config/parameters.php
/build/
/phpunit.xml
/var/
!/var/cache
/var/cache/
!var/cache/.gitkeep
!/var/logs
/var/logs/
!var/logs/.gitkeep
!/var/sessions
/var/sessions/
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
