@import "compass";
@import "theme_variables";

/**************************************************************
					CMS Comment ca marche Styles
***************************************************************/
#comment {
	font-family: "Source Sans Pro";
	.container {
		position: relative;
		padding-bottom: 500px;
		@media (max-width: $screen-phone) {
			padding-bottom: inherit;
		}
		@media (max-width: $screen-tablet) {
			padding-bottom: inherit;
		}
	}
	.well {
		background-color: #dfe9d0;
		border: none;
		margin-bottom: 30px;
		border-radius: 0;
		.num {
			border-radius: 50%;
			width: 50px;
			height: 50px;
			background-color: #e2ba00;
			text-align: center;
			line-height: 1.5;
			display: block;
			color: #222;
			font-size: 31px;
			font-weight: 600;
			@media (max-width: $screen-xs) {
				margin: 0 auto;
			}
			@media (max-width: $screen-sm) {
				margin: 0 auto;
			}
		}
		.col-md-2 {
				@media (max-width: $screen-xs) {
					text-align: center;
					margin-top: 15px;
				}
				@media (max-width: $screen-sm) {
					text-align: center;
					margin-top: 15px;
				}
		}
		p {
			color: #4d7910;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 0;
			padding: 3% 0;
			width: 80%;
			line-height: 1.2 !important;
			@media (max-width: $screen-xs) {
				width: 100%;
				line-height: 1.4 !important;
			}
			@media (max-width: $screen-sm) {
				width: 100%;
				line-height: 1.4 !important;
			}
		}
		.bd {
			border-bottom: 2px solid #bbd5b1;
			margin-bottom: 25px;
			padding-bottom: 30px;
		}
	}
	.com-sap {
		position: absolute;
		bottom: 0px;
		right: -230px;
		display: block;
	}
}