@import "compass";
@import "theme_variables";

/**************************************************************************
					Contact Page Styles
**************************************************************************/

.msg_info {
	width: 100%;
	background-color: #e1ecd4;
	@include border-radius(3px);
	font-size: 20px;
	font-weight: 600;
	padding: 33px 32px 39px;
	line-height: 28px;
	margin: 50px 0;
	// Text style for "Avant de nous"
	color: #769e65;
	a {
		color: #3f6c2c;
	}
}
.contact-title {
	margin: -5px 0 0px 0;
	line-height: 23px;
	i {
		font-size: 23px;
		color: #c0c0c0;
		padding: 0 8px 0 0;
	}
}

.contact-form-box {
	padding: 23px 0 0 0;
	margin: 0 0 70px 0;
	// background: url(../img/contact-form.png) repeat-x $light-background;
	// @include box-shadow(rgba(black, 0.17) 0px 5px 13px);
	fieldset {
		padding: 0 19px 21px 19px;
		// background: url(../img/form-contact-shadow.png) center bottom no-repeat;
		// background-size: contain;
	}
	.row {
		position: relative;
	}
	label {
		margin: 0 0 6px 0;
	}
	.page-subheading {
		padding-left: 0px;
		border: none;
		margin-bottom: 0;
	}
	.row {
		//margin-bottom: 26px;
	}
	.desc_contact {
		position: absolute;
		top: -20px;
		right: 15px;
		width: 100%;
		text-align: right;
	}
	.form-group .form-control:not(textarea) {
	    max-width: 100% !important;
	    height: 44px;
	    background-color: white;
	    border: 1px solid #a3c272;
	    border-radius: 3px;
	    text-indent: 30px;
	    margin-bottom: 26px;
	    font-size: 14px;
	    font-weight: 400;

	    // Text style for "Adresse e-mail"
	    color: #717171;
	}
	.select11 div.selector {
		margin-bottom: 26px;
	}
	.form-group div.selector {
	    width: 100% !important;
	    height: 44px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    line-height: 43px;
	    border: 1px solid #a3c272;
	    background-image: none;
	    background-color: #fff;
	    span {
	        width: 100% !important;
	        text-indent: 22px;
	        font-size: 13px;
	        font-weight: 600;
	        font-family: "Source Sans Pro";
	        color: #777;
	        background-image: url(../img/fleche-select.jpg);
	        background-position-y: 3px;
	        height: 42px;
	            background-color: #fff;
	            line-height: 42px;
	    }
	}
	.col-md-6,
	.col-md-12 {
		padding-left: 0;
		@media (max-width: $screen-sm-max) { // max 991px
			padding-right: 0;
		}
	}
	.col-md-9:nth-child(even) {
		padding-right: 0;
		@media (max-width: $screen-sm-max) { // max 991px
			padding-left: 0;
		}
	}
	#desc_contact0 {
		display: none;
	}
	.form-group {
		margin-bottom: 0px;
		margin-top: 9px;
	}
	textarea {
		background-color: white;
		border: 1px solid #a3c274;
		@include border-radius(3px);
		height: 204px;
		text-indent: 30px;
		padding-top: 20px;
		font-size: 14px;
		font-weight: 400;

		// Text style for "Adresse e-mail"
		color: #717171;
	}
	.submit {
		margin-top: 35px;
	}
	select.form-control {
		max-width: 270px;
		width: 100%;
	}
	input.form-control {
		max-width: 270px;
	}
	div.uploader {
	    background: none;
	    height: 44px;
	    width: 100%;
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	}
	div.uploader span.filename {
	    font-size: 14px;
	    font-weight: 400;

	    // Text style for "Adresse e-mail"
	    color: #717171;
	    border: solid 1px #a3c274;
	    background: #fff;
	     margin-right: 0px;
	     @include border-radius(3px 0 0 3px);
	     width: 75%;
	     height: 44px;
	     line-height: 43px;
	     text-indent: 30px; 
	     padding: 0;
	}
	div.uploader span.action {
		 @include border-radius(0 3px 3px 0);
	    text-shadow: none;
	    font-size: 14px;
	    font-weight: bold;
	    color: #fff;
	    background-position: 0;
	    height: 44px;
	    line-height: 43px;
	    width: 25%;
	    text-align: center;
	    float: left;
	    display: inline;
	    overflow: hidden;
	    cursor: pointer;
	    background-image: none;
	    background-color: #5c8f16;
	        background-repeat: no-repeat;
	        -webkit-font-smoothing: antialiased;
	}
	div.uploader span.action {
	    
	}
	
	@media (min-width: $screen-md) and (max-width: $screen-md-max) {// min 992px max 1199px
		div.uploader span.filename {
			//width: 114px;
		}
	}
}
.text-contact {
		color: #3f6c2c;
		font-size: 14px;
		.bl_right {
			border: 2px solid #a3c274;
			text-transform: uppercase;
			padding: 38px;
		}
	}