/*
#main {
    padding: 0px !important;
}

#content.bootstrap {
    padding:0px !important;
    margin:0px !important;
}

#map_canvas{
    position:fixed !important;
    width:100%;
    height:100%;
}
