/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#contact #header {
    background: url("https://www.myabies.ch/themes/myabies/img/bande-1-min.jpg");
    background-size: cover;
}

.sf-menu > li > a {
    font: normal normal bold 18px/18px Montserrat;
    letter-spacing: 0.93px;
    color: #EAE9E7;
    text-transform: uppercase;
    display: block;
    padding: 17px 0 100px;
    margin: 0 22px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#block_top_menu {
    left: -22px;
    width: max-content;
    padding: 0;
    top: 47px;
}


#typesapain #footer {
    display: none;
}

#footer .col-md-8.links {
    margin: 113px -50px 0px 45px;
}

.footer-container #footer ul li {
    padding-bottom: 12px;
    width: 30rem;
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 28%;
    }
}

.footer-container #footer .footer-block {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 113px;
}

#footer .col-md-2 {
    margin: 120px 0px 0px 0px;
}

#header .logo {
    max-width: 100%;
    height: 97px;
    margin: -34px 0px 0px 7px;
}

#index .sf-menu>li:first-child a {
    color: #fff!important;
}
/*
#header .header-nav .user-info {
    display: block;
    padding: 12px 9px 11px 8px;
    cursor: pointer;
    font: normal normal bold 13px/18px Montserrat;
    letter-spacing: 0.46px;
    color: #EAE9E7;
    text-transform: uppercase;
}

#_desktop_user_info {
    display: inline-block;
    vertical-align: top;
}

.dropdown .expand-more {
    letter-spacing: 0.46px;
    color: #EAE9E7;
    text-transform: uppercase;
}*/

#header .header-top .col-md-2 {
    margin: 0px;
}

#cms #_desktop_logo {
    margin-top: 19px;
}

#footer .footer-container .h3 {
    margin: 0 0 36px 0;
    cursor: pointer;
    font: normal normal bold 18px/27px Montserrat;
    letter-spacing: 0px;
    color: #193128;
    text-transform: uppercase;
}

.block-social {
    text-align: left;
}

.footer-container {
    margin-top: 0;
}
/*
.font-Montserrat {
    font: normal normal bold 18px/27px Montserrat;
    letter-spacing: 1px;
}*/

.btn-productors {
    padding-top: 15px;
    width: 78%;
}

.btn-sapin-header {
    width: 38%;
}

#order-confirmation .card {
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.card {
   box-shadow: none;
    background-color: #eae9e7;
    border: none;
}

.text-header {
    width: 99%;
}

span.expand-more {
    font: normal normal bold 13px/18px Montserrat;
    letter-spacing: 0.46px;
    color: #EAE9E7;
    text-transform: uppercase;
}

#header .header-nav .user-info {
    display: block;
    cursor: pointer;
    font: normal normal bold 13px/18px Montserrat;
    letter-spacing: 0.46px;
    text-transform: uppercase;
}

#header .header-nav .cart-preview .shopping-cart {
    color: #eae9e7;
}

.user-info a {
    color: #eae9e7;
}

#header .header-nav .blockcart {
    background-color: transparent;
    font: normal normal bold 13px/18px Montserrat;
    color: #eae9e7;
    text-transform: uppercase;
}

#_desktop_cart .cart-products-count.inactive {
    background-color: #eae9e7;
    color: #566054;
}

a:hover {
    color: #eae9e7 !important;
}
/*
.header-nav span:hover {
    color: #eae9e7 !important;
}*/

select.form-control:not([size]):not([multiple]){
    height:65px
}

.qualite, .qualites-tunnel {
    border-radius: 5px;
}

#typesapain #columns {
    padding-bottom: 0em;
    padding-top: 0em;
}

#typesapain .form-control {
    border-radius: 5px;
}

.btn-new-dark-green {
    padding: 32px 15px 32px 10px;
}

.btn-new-light-green {
    font-size: 22px;
}

.btn-new-layout .des {
    font-size: 18px;
    vertical-align: top;
}

img.img-choix-prd {
    height: 100%;
}

#order-confirmation #columns {
    max-width: 1170px;
    padding-top: 4.375em;
}

body#order-confirmation #header .header-nav {
    height: 54px;
    padding: .9375rem 0;
    border: none;
    margin-bottom: 0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    background-color: currentColor;
}

#columns {
    max-width: 100%;
    top: -1px;
}

#steps .step-desc #resp_content form {
    margin-right: 30px;
    margin-bottom: 30px;
}

.agriculteur-details {
    border-radius: 5px;
    padding-bottom: 18px;
}

.agriculteur-details .transporteur-img {
    margin-bottom: 17px;
}

.list-tunnel li {
    margin-top: 13px;
    border-radius: 5px;
    width: 75%;
}

#steps .step-desc #resp_content form>div {
    justify-content: center;
}

.attribute-img-description {
    padding-top: 15px;
}

.container-recyclage {
    width: 100%;
    margin-left: 0% !important;
}

body#checkout #cart-summary-product-list img {
    /*border: 1px solid #0a0a0a;*/
    width: 12rem;
}

.cart-summary-line .value {
    color: #1d5202;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    float: right;
}

.cart-grid-body .card-block {
    padding: 2rem;
}

#checkout .cart-grid-body .card-block {
    padding: 2rem;
    margin-top: 20px;
}

#cart .card, #checkout .card {
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%) ;
    padding: 0px 10px 10px;
}

#cart .header-container.img-header {
    display: none;
}

.product-price {
    color: #1d5202;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.label {
    color: #585858;
    padding-left: 0px;
}

.prod_qty {
    color: #505050;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.product-name {
    color: #505050;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

body#checkout section.checkout-step .carrier-name {
    font-size: inherit;
}

body#checkout section.checkout-step .delivery-options .delivery-option label .carrier:not(.carrier-hasLogo)>.col-xs-12 {
    padding-left: calc(10%);
}

body#checkout section.checkout-step .delivery-options>.delivery-option {
    border: .1rem solid #5c8f16;
    border-radius: 5px;
}

body#checkout a:hover, body#checkout a {
    color: #5c8f16;
}

body#checkout section.checkout-step .forgot-password {
    margin-left: 28.38rem;
}

body#checkout section.checkout-step {
    box-shadow: 2px 2px 8px 0 #5c8f16;
    border-bottom: 1px solid #5c8f16;
    border-radius: 5px;
    background: #eae9e7;
}

body#checkout section.checkout-step .step-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-transform: none;
    color: #5c8f16;
    font-size: 26px;
    padding-bottom: 15px;
    line-height: normal;
    margin-bottom: 12px;
}

body#checkout #header .header-nav {
    height: 54px;
    padding: .9375rem 0;
    border: none;
    margin-bottom: 0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    background-color: currentColor;
}

header {
    padding-bottom: 0px;
}

#checkout #header .logo {
    margin-top: -4px;
}

.form-control {
    max-width: 100% !important;
    height: 44px;
    background-color: white;
    border: 1px solid #a3c272;
    border-radius: 3px;
    text-indent: 30px;
}

.attribute-hover-container_recyclage {
    display: none;
    background-color: rgba(25, 49, 40, .8);
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.attribute-img-container:hover .attribute-hover-container_recyclage, form#form_recyclage .attribute-img-container:hover .attribute-hover-container_recyclage ,.active .attribute-img-container:hover .attribute-hover-container_recyclage ,
.active .attribute-hover-container_recyclage ,.attribute-img-description:hover ,.attribute-img-description{
    display: flex;
}


.input-group .input-group-btn>.btn[data-action=show-password] {
    background: #7a7a7a;
    padding: 1.69rem 1rem;
    margin-left: 5px;
}

.custom-radio input[type=radio]:checked+span {
    background-color: #5c8f16;
    left: .2rem;
    top: .2rem;
}

textarea {
    border: .1rem solid #5c8f16;
}

.alert {
    font-size: 1.3rem;
}

#cart aside#notifications {
    background-color: #585858;
    margin-bottom: 0px;
}

#header .header-nav .cart-preview.active {
    background: none;
}

.text-muted {
    font-size: 1.25rem;
}

.product-quantity {
    font-size: 12px;
    font-weight: 600;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total .value {
    font-size: 1.6rem;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total .label {
    font-size: 1.4rem;
}

.product-line-info {
    font-size: 15px;
}

.cart-grid-body a:hover {
    color: #aaa5a5 !important;
}

.btn-primary:hover {
    background-color: #aaa5a5;
}

.btn-primary, .btn-primary:active, .btn-primary:hover {
    background-color: #585858;
    border-color: #585858;
    border-radius: 5px;
}

.sf-menu>li>a:hover {
    transition: all .9s ease-out;
    color: #5da255 !important;
    text-decoration: underline;
}

.dropdown-menu>li.current, .dropdown-menu>li>a:hover {
    background: #8bb76f;
}

.dropdown-menu>li>a {
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-menu {
    padding: 0px;
    margin: 0;
    min-width: 10rem;
}

#_desktop_cart .cart-products-count {
    display: block;
    float: right;
    line-height: 22px;
    margin-right: 8px;
    margin-left: 5px;
    background-color: #eb6258;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.blockcart.cart-preview.inactive span.cart-products-count {
    background-color: #cbdac7;
    color: #1c5201;
}

.logo-payment {
    margin-right: 6px;
    width: 29%;
    display: inline-block;
}

#content-hook_order_confirmation .card-block .row>div>p {
    /*color: #297B5A;*/
    padding-left: 42px;
}

#order-items table tr td {
    font-size: inherit;
}

/* Block Promo*/
.block-promo .promo-input {
    height: 2.9rem;
    margin-right: 0.76rem;
}

.block-promo .promo-code form {
    text-align: left;
}

.block-promo {
    margin-left: 2rem;
    width: 35%;
    border: 1px solid #c0c0c0;
}

.block-promo .promo-code-button {
    font: 600 18px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16;
    text-transform: uppercase;
    padding: 16px 0 10px 10px;
    text-align: left;
}