/************************************************************
				History Page Styles
************************************************************/
#order-detail-content table .return_quantity_buttons {
  margin-top: 3px; }
  #order-detail-content table .return_quantity_buttons a {
    display: none;
    float: left; }
    #order-detail-content table .return_quantity_buttons a + a {
      margin-left: 3px; }
#order-detail-content table .order_qte_input {
  display: none;
  width: 57px;
  height: 27px;
  line-height: 27px;
  padding: 0;
  text-align: center; }
#order-detail-content table label {
  font-weight: 400; }

.table td.history_detail a + a {
  margin-left: 2px; }
.table td.step-by-step-date {
  width: 105px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #505050; }
.table tbody .footable-first-column {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #505050; }
.table tfoot strong {
  color: #6c6c6c; }
.table .shipping {
  color: #505050;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0; }

.info-order i {
  font-size: 20px; }
  .info-order i.icon-gift {
    color: #f13340; }
  .info-order i.icon-repeat {
    color: #55c65e; }

#sendOrderMessage {
  margin-bottom: 30px; }
  #sendOrderMessage select.form-control {
    width: 263px;
    display: inline-block;
    height: 44px;
    background-color: white;
    border: 1px solid #a3c272;
    border-radius: 3px;
    text-indent: 30px;
    margin-left: 20px; }

#history .table tbody > tr > td {
  border-bottom: 1px solid #f6f6f6;
  padding: 23px 8px 23px 18px;
  color: #505050; }
  #history .table tbody > tr > td.text-center {
    padding-left: 0;
    padding-right: 0; }
  #history .table tbody > tr > td span.color-myaccount {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  #history .table tbody > tr > td.history_date {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
  #history .table tbody > tr > td.history_price span {
    color: #5c8f16;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; }
  #history .table tbody > tr > td.history_method {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }
  #history .table tbody > tr > td.history_invoice i {
    color: #5c8f16; }
  #history .table tbody > tr > td.history_invoice a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
  #history .table tbody > tr > td.history_detail .link-detail {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    border-radius: 3px;
    color: #5c8f16;
    font-size: 11px;
    font-weight: 700; }
  #history .table tbody > tr > td.history_detail .link-command {
    background-color: #1d5202;
    border-color: #1d5202;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    font-weight: 700;
    display: none; }

#history .table .text-center {
  padding-left: 0;
  padding-right: 0; }

#history {
  font-family: "Source Sans Pro", sans-serif; }
  #history p.info-title {
    margin-bottom: 1px;
    padding: 15px 0;
    background-color: #f6f6f6;
    text-align: center;
    display: block;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400; }
  #history .table thead:first-child tr:first-child th {
    font-weight: 700;
    font-size: 14px; }
  #history .box {
    border: none; }

.history_state span {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font: 600 12px "Source Sans Pro", sans-serif;
  text-transform: uppercase; }
  .history_state span.dark {
    color: #515151; }

.link-command {
  background-color: #1d5202;
  border-color: #1d5202;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  font-weight: 700; }

.box.box-small .dark {
  padding-bottom: 10px; }
.box.box-small .link-command {
  margin-top: 10px;
  display: none; }
  .box.box-small .link-command:hover {
    color: white; }

.info-order p {
  margin-bottom: 15px; }

.btn-add {
  background-color: #a3c272;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding-right: 25px;
  padding-left: 25px; }

#sendOrderMessage {
  padding: 14px 18px 13px;
  background: #EFF5EA;
  margin-bottom: 40px;
  border: none; }

.carrier_title.norm {
  font-size: 15px;
  font-weight: 700; }

#history textarea[name="msgText"] {
  margin-bottom: 15px;
  background-color: white;
  border: 2px solid #a3c272; }

textarea.form-control {
  height: auto; }

.form-control {
  padding: 3px 5px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.text_carrier {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400; }

.detail_step_by_step span.label {
  border-radius: 8px;
  font: 600 12px "Source Sans Pro", sans-serif;
  text-transform: uppercase; }
.detail_step_by_step .dark {
  color: #515151; }

.adresses_bloc {
  padding: 20px 15px 10px;
  background-color: #f6f6f6;
  margin-bottom: 30px; }

.address li h3 {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 24px;
  border-left: 1px solid #5c8f16;
  padding-left: 15px;
  padding-bottom: 0; }

.adresses_bloc ul {
  background-color: #fff;
  border: none; }
  .adresses_bloc ul li {
    color: #6c6c6c; }

#order-detail-content label.color-myaccount {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }
#order-detail-content .price label {
  color: #505050;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0; }
#order-detail-content .price2, #order-detail-content .price-shipping {
  color: #1d5202;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
#order-detail-content span.order_qte_span {
  color: #9c9b9b; }
#order-detail-content .totalprice td:first-child strong {
  color: #1d5202; }
#order-detail-content .totalprice .text-right {
  background-color: #fff; }
#order-detail-content .totalprice .price {
  color: #5c8f16;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

.link-detail {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  border-radius: 3px;
  color: #5c8f16;
  font-size: 11px;
  font-weight: 700; }

.footable-row-detail .footable-row-detail-inner .footable-row-detail-row:last-child .footable-row-detail-value {
  padding-top: 20px; }
.footable-row-detail .footable-row-detail-inner .footable-row-detail-row:last-child .footable-row-detail-name {
  display: none; }
