/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*
#steps .step-desc #resp_content p {
    font-size: 14px;
}*/

#steps .step-ul div .title {
    height: 62px;
}

#steps .step-desc ul li label, .not-pot label {
    font-family: Source Sans Pro, sans-serif;
}

 #steps .step-desc #resp_content .description>div {
    margin-top: 0;
    padding: 8px 27px;
    max-height: 15vh;
    color: #fff;
    clear: both;
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
}

#product .bg-home {
    background: url("../img/bg-home.jpg");
}

.ap5-pack-page #main {
    background: #f9f9f9 url("../img/bg-content-tunnel.png") no-repeat left top;
    background-size: cover;
    border: 1px solid #6d7b69;
    padding: 14px 0 14px 14px;
    box-sizing: border-box;
    margin: 35px auto 0;
    max-width: 1170px;
    color: #ffffff;
    position: relative;
}

div#ap5-buy-block-container {
    position: absolute;
    right: 0;
    width: 57rem;
    top: 318px;
}

#ap5-buy-container p.ap5-combination-unavailable {
    font-size: larger;
}

.ap5-product-list {
    margin-bottom: -20px;
    margin-left: 10px;
}

#ap5-pack-product-6.ap5-product-pack-row-has-errors {
    width: 106%;
}

#ap5-pack-product-5.ap5-product-pack-row-has-errors {
    width: 106%!important;
}

.product-variants>.product-variants-item .color {
    height: 22px;
    width: 22px;
    display: block;
}

.product-variants>.product-variants-item ul li {
    margin: 0 3px 3px 0;
    padding: 1px;
    border: 1px solid #d6d4d4;
    clear: none;
    width: 26px;
    height: 26px;
}

#ap5-pack-product-5 .ap5-attributes {
    text-align: center;
}

.ap5-attribute-fieldset {
    display: inline-block;
}

.alert.animated.shake.alert-warning {
    width: 90%;
    position: absolute;
}

.alert.animated.shake.alert-warning ol li {
    font-size: medium;
}

.alert ol {
    text-shadow: 1px 1px #000000;
}

#main .text-justify {
    position: absolute;
    width: 44%;
    right: 55px;
    top: 73px;
    color: white;
}

.cart-grid-body .h1 {
    position: relative!important;
    text-align: left!important;
    font: 600 28px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16!important;
    text-transform: uppercase;
}

#main .h1 {
    position: absolute;
    right: 0;
    width: 50%;
    color: white ;
    text-align: center;
}

#main p {
    color: #eae9e7 !important;
}
/*
#steps {
    height: 115vh;
    margin-top: 35px;
}

.container_images {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 95vh;
    overflow-y: scroll;
}*/

body#checkout #header .header-nav {
    height: 54px;
    padding: .9375rem 0;
    border: none;
    margin-bottom: 0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    background-color: darkgreen;
}

#typesapain .header-top {
    display: none;
}
nav.header-nav {
    background: #1c5201;
    max-height: 100%;
    height: 37px;
}
#typesapain #footer {
    display: none;
}
#header .header-nav {
    max-height: 50px;
    margin-bottom: 0px;
}
header {
    padding-bottom: 0px;
}

body#checkout #header .header-nav .logo {
    max-height: 3.6rem;
}

#index nav.header-nav {
    background: #1a2d11;
}
#index #header .header-nav .user-info a span.ou-user {
    color: #ffffff;
}
#header .header-nav .user-info a span.ou-user {
    color: #8fc741;
}

#header .header-nav .user-info {
    color: #ffffff;
    font-weight: 600;
    display: block;
   /* padding: 7px 9px 11px 8px;*/
    cursor: pointer;
    line-height: 18px;
    font-size: 12px;
    text-transform: uppercase;
}

#header .header-nav .material-icons {
    line-height: initial;
    color: white !important;
}

#cms #header .logo {
    max-width: 100%;
    padding-top: 15px;
}

#cms #header .header-top {
    padding-bottom: 1.25rem !important;
}

.content-cms-page h2 {
    padding-bottom: 20px;
    color: #5c8f16;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.content-cms-page {
    max-width: 930px;
    margin: 0 auto;
    padding-top: 40px;
    color: #68845d;
}

.item-partners h2 {
    padding-bottom: 20px;
    color: #5c8f16;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

#comment .container {
    position: relative;
    padding-bottom: 0px;
}

#typesapain {
    overflow: hidden;
}
/*
#header .header-nav .language-selector {
    margin-top: 1.5rem;
}*/

#header .header-top .position-static {
   /* position: fixed;
    padding-left: 100px;
    top: 70px;*/
}

.header-fixed {
    position: fixed;
    background-color: #fff;
    margin-top: -37px;
    width: 100%;
    padding-bottom: 5px !important;
}
/*
.menu-page {
    position: fixed;
    left: 0;
    top: 69px;
    background: #ffffff;
    width: 100%;
    z-index: 9;
}*/


.sf-menu>li>a {
    font: 600 13px/22px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    color: #ACC2A1 !important;
    display: block;
    padding: 17px 0 10px;
    margin: 0 14px;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#index .sf-menu>li>a:hover {
    color: white !important;
}

#header .header-top.header-fixed .sf-menu>li>a:hover {
    color: #007100 !important;
}

#header .header-top.header-fixed .sf-menu>li>a:after {
    background: #007100 !important;
}

#header .header-nav .blockcart a {
    color: #ffffff;
}

#block_top_menu {
    position: absolute;
    left: 133px;
    width: auto;
    padding: 0;
    top: 30px;
}

.footer-container li a {
    font-size: 12px;
    font-weight: 600;
}

#footer .footer-container ul li {
    padding-bottom: 10px;
}

#footer .footer-container .h3 {
    font: 600 14px/22px "Source Sans Pro", sans-serif;
    color: #243f18;
    margin: 0 0 5px 0;
    cursor: pointer;
    text-transform: uppercase;
}

#footer .footer-container .col-md-6.wrapper {
    padding-top: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-6.links {
    padding-left: 0px;
    padding-right: 0px;
}

.footer-container {
    margin-top: 0;
}

#footer {
    padding-top: 0;
    width: 112%;
}

.footer-block.footer-adresse {
    padding-top: 45px;
    margin-left: 65px;
    color: #777777;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 992px) {
    .footer-block.footer-adresse {
        width: 15%;
    }
}

.block-contact-title, .blockcms-title, .myaccount-title, .myaccount-title a {
    font-weight: 500;
    font-size: 23px;
}
#header .dropdown-menu>li>a {
    color:#333333;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.dropdown .expand-more {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.page-header h1{
    font: 600 28px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#header .header-nav .cart-preview.active {
    background: transparent;
}

#header .header-top.header-fixed #block_top_menu {
    top: 7px;
}

#header.header-fixed #_desktop_logo {
    top: 29px;
}

#header .header-nav .blockcart {
    background: transparent;
    height: 3rem;
   /* padding-top: 1.2rem;*/
    margin-left: .9375rem;
    font-weight: 600;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

.product-price {
    color: #1d5202;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.prod_qty {
    color: #505050;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.product-name {
    color: #505050;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

body#checkout #cart-summary-product-list img {
    width: 12rem;
    border: none;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total .value {
    font-size: 1.6rem;
}

.card-block.cart-summary-totals .cart-summary-line.cart-total .label {
    font-size: 1.4rem;
}

.text-muted {
    font-size: 1.25rem;
}

.label {
    color: #428bca;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11.2px;
    font-weight: 100;
}

.product-line-info.couleur .label {
    color: #428bca;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 11.2px;
    text-transform: capitalize;
}

.product-line-info.product-line-info-secondary.text-muted .label {
    font-size: 11.2px;
    color: #428bca;
    text-transform: none;
}

span.value, .product-line-info.taille .label, .product-line-info.taille .label {
    font-size: 11.2px;
    color: #428bca;
    text-transform: none;
}

.product-line-info .label {
    color: #505050;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.cart-summary-line .label {
    font-weight: 700;
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
}

.product-quantity {
    font-size: 12px;
    font-weight: 600;
}

.cart-summary-line .value {
    color: #1d5202;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 700!important;
    text-transform: uppercase;
    float: right;
}

.form-control {
    max-width: 100% !important;
    height: 44px;
    background-color: white;
    border: 1px solid #a3c272;
    border-radius: 3px;
    text-indent: 30px;
}

.input-group .input-group-btn>.btn[data-action=show-password] {
    background: #7a7a7a;
    padding: 1.69rem 1rem;
    margin-left: 5px;
}

.btn-primary, .btn-primary:active, .btn-primary:hover {
    background-color: #5c8f16;
    border-color: #5c8f16;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 11px;
    text-transform: none;
}

.btn-primary:active:hover {
    background-color: #5c8f16;
    border-color: #5c8f16;
}

.btn-primary[disabled] {
    background-color: #5c8f16;
    border-color: #5c8f16;
}

body#checkout section.checkout-step .address-item.selected {
    background: #fff;
    border: 3px solid #5c8f16;
    border-radius: 5px;
}

.custom-checkbox input[type=checkbox] {
    opacity: 1;
}

.custom-radio input[type=radio]:checked+span {
    background-color: #5c8f16;
    left: .2rem;
    top: .2rem;
}

body#checkout section.checkout-step .carrier-name {
    font-size: inherit;
}

body#checkout section.checkout-step .delivery-options .delivery-option label .carrier:not(.carrier-hasLogo)>.col-xs-12 {
    padding-left: calc(10%);
}

body#checkout section.checkout-step .delivery-options>.delivery-option {
    border: .1rem solid #5c8f16;
    border-radius: 5px;
}

body#checkout a:hover, body#checkout a {
    color: #5c8f16;
}

body#checkout section.checkout-step .forgot-password {
    margin-left: 28.38rem;
}

body#checkout section.checkout-step {
    box-shadow: 2px 2px 8px 0 #5c8f16;
    border-bottom: 1px solid #5c8f16;
    border-radius: 5px;
}

body#checkout section.checkout-step .step-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    text-transform: none;
    color: #5c8f16;
    font-size: 26px;
    padding-bottom: 15px;
    line-height: normal;
    margin-bottom: 12px;
}

.cart-grid-body .card-block {
    padding: 2rem;
}

#cart .card, #checkout .card {
    border-radius: 10px;
}

#typesapain #content.page-content.card.card-block {
    position: relative;
    display: block;
    border: 0px;
    padding: 0;
}

#_desktop_cart .cart-products-count.inactive {
    background-color: #cbdac7;
    color: #1c5201;
}

#_desktop_cart .cart-products-count {
    display: block;
    float: right;
    line-height: 22px;
    margin-right: 8px;
    margin-left: 5px;
    background-color: #eb6258;
    height: 22px;
    width: 22px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#cart .bg-home {
    min-height: fit-content;
}

.product-line-grid-left {
width: 15%;
}

.product-line-grid-body.col-md-4.col-xs-8 {
padding-top: 30px;
width: 40%;
}

.product-line-grid-right.product-line-actions.col-md-5.col-xs-12 {
padding-top: 30px;
}
/*
#typesapain #resp_content {
overflow: auto;
}
*/
#order-items .details {
    margin-bottom: 1rem;
    margin-top: 7rem;
    color: #515151;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#order-items .qty {
    margin-bottom: 1rem;
    margin-top: 7rem;
    color: #515151;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#cart .header-top {
    display: none;
}

.cart_navigation .button-exclusive {
    border: none;
    background: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 0;
    height: 36px;
    background-color: #a3c272;
    color: white;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
}

.sf-menu li:nth-child(8) a {
    color: white !important;
}
/*
.sf-menu li:nth-child(8) {
    top: 66px;
    position: relative;
    transform: rotate(
            180deg);
    left: 168px;
}

.sf-menu li:nth-child(9) {
    margin-top: -34px;
}*/

.accord-wrap.accord-wrap-open {
    border: 1px solid #a3c272;
    background: #ffffff;
}

.accord-wrap.accord-wrap-open h3 {
    background: #ffffff !important;
}

.accord-wrap > div {
    display: none;
    padding: 20px 30px;
}

.accord-wrap.accord-wrap-open > div {
    display: block;
}

#cms #center_column p {
    color: #68845d;
    font-size: 15px;
    font-weight: 500;
}

.close-accord {
    background-color: #5c8f16;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 20px;
    margin: 20px 0;
    font-size: 12px;
}

a:hover {
    color: #7bd073 !important;
}

.header-nav span:hover {
    color: #7bd073 !important;
}

.alert {
    font-size: 1.3rem;
}

#cart aside#notifications {
    background-color: #1c5201;
    margin-bottom: 0px;
}

.dropdown-menu>li.current, .dropdown-menu>li>a:hover {
    background: #8bb76f;
    color: #0a0a0a !important;
}

.dropdown-menu>li>a {
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.dropdown-menu {
    padding: 0px;
    margin: 0;
    min-width: 10rem;
}

.logo_paiement {
    width: 26%;
}

.logo_paiement p {
    padding-top: 27px;
}

.footer-container .row {
    margin-left: -35px;
}

#product #header .header-top {
    padding-bottom: 0.25rem;
}

#header .logo {
    padding-top: 1rem;
}

#product .product-price {
    color: #fff1f2;
}

.product-actions .add-to-cart {
    height: 3.75rem;
    line-height: initial;
}

.product-prices .tax-shipping-delivery-label {
    font-size: 1rem;
    color: #fff1f2;
}

.product-quantity #quantity_wanted {
    background-color: #fff;
    height: 3.75rem;
    width: 4rem;
}

.product-quantity .input-group-btn-vertical .btn {
    padding: 0.89rem .6875rem;
}

.product-quantity .input-group-btn-vertical .btn i {
    top: .5rem;
}

.social-sharing {
    margin-top: 15px;
}

.block-promo .promo-input {
    height: 2.9rem;
    margin-right: 0.76rem;
}

.block-promo .promo-code form {
    text-align: left;
}

.block-promo {
    margin-left: 2rem;
    width: 35%;
    border: 1px solid #c0c0c0;
}

.block-promo .promo-code-button {
    font: 600 18px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16;
    text-transform: uppercase;
    padding: 16px 0 10px 10px;
    text-align: left;
}

.page-header {
    border-bottom: none;
}

.page-my-account #content .links a {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 .9375rem;
    margin-bottom: 1.875rem;
    font: 600 16px/20px "Source Sans Pro", sans-serif;
    color: #568A13;
    text-decoration: none;
    position: relative;
}

.page-my-account #content .links a:hover {
    color: #568A13!important;
}

.page-my-account #content .links a i {
    font-size: 70px;
    color: #568A13;
    height: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    display: block;
}

.page-my-account #content .links a i:hover {
    color: #568A13;
}

.page-my-account #content .links a span.link-item {
    box-shadow: none;
    padding: 1rem 0 5rem;
}

.page-my-account #content .links a span.link-item:hover {
    background-color: #e7e7e7;
}

.icon, [class^="icon-"] {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#my-account .info-account {
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #F6F6F6;
    color: #717171;
    font-weight: 700;
}

.h1.card-title {
    font: 600 28px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16;
    text-transform: uppercase;
    padding: 0px 0px 17px 0px;
    margin-bottom: 20px;
}

#order-items .row {
    margin-left: -10px;
    margin-right: -10px;
}

#order-items .h3 {
    background: #f6f6f6;
    border-bottom-width: 1px;
    color: #6c6c6c;
    vertical-align: middle;
    padding: 7px 8px 9px 35px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#order-details>.card-title {
    font: 600 28px/22px "Source Sans Pro", sans-serif;
    color: #5c8f16;
    text-transform: uppercase;
    padding: 0px 0px 17px 0px;
}

#order-items table tr td {
    font-size: inherit;
}

#content-hook_order_confirmation .card-block .row>div>p {
   /* color: #5c8f16;*/
    padding-left: 42px;
}

.forgotten-password .form-fields label.required, label.col-md-3.form-control-label.required, label.col-md-3.form-control-label {
    color: #505050 !important;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
}

.forgotten-password .form-fields .center-email-fields button {
    margin-left: 10px;
}

.send-renew-password-link {
    color: darkgreen;
    padding-right: 0px;
    font-size: 11px;
    text-align: center;
    margin-bottom: 25px;
}

.page-customer-account #content {
    margin-bottom: 16px;
    border-radius: 10px;
}

.page-customer-account #content .forgot-password, .page-customer-account #content .no-account {
    font-family: "Source Sans Pro";
    font-size: 16px;
    margin-top: 2rem;
    padding-bottom: 1.9375rem;
}

.page-customer-account #content .forgot-password a, .page-customer-account #content .no-account a {
    color: #5c8f29;
}

.page-authentication #content {
    max-width: 675px;
}

#history #page, #discount #page {
    font-family: "Source Sans Pro", sans-serif;
}

#history .table-bordered, #discount .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: none;
}

#history .table>thead>tr>th, #discount .table>thead>tr>th  {
    font-weight: 700;
    font-size: 14px;
    padding: 23px 8px 23px 18px;
}

.table-striped>tbody>tr>th {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 23px 8px 23px 18px;
}

#history .table tbody > tr > td, #discount .table tbody > tr > td {
    border-bottom: 1px solid #f6f6f6;
    padding: 23px 8px 23px 18px;
    color: #505050;
}

#history .table tbody > tr > td.history_price, #discount .table tbody > tr > td.history_price {
    color: #5c8f16;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#history .table tbody > tr > td.history_date, #discount .table tbody > tr > td.history_date {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#history .table tbody > tr > td.history_method, #discount .table tbody > tr > td.history_method {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#discount .bg-home, #order-slip .bg-home, #module-psgdpr-gdpr .bg-home, #module-stripe_official-stripeCards .bg-home {
    min-height: auto;
    background: none;
}

.table-labeled .label {
    border-radius: 8px;
    font: 600 12px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    color: #515151;
}

.page-customer-account #content .order-actions a {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    border-radius: 3px;
    color: #5c8f16;
    font-size: 11px;
    font-weight: 700;
    padding: 23px 8px 23px 18px;
}

#history h6.info-title {
    margin-bottom: 1px;
    padding: 15px 0;
    background-color: #f6f6f6;
    text-align: center;
    display: block;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
}

.page-footer .account-link span {
    font-size: 11px;
}

.page-addresses .address .address-footer a {
    color: #fff;
}

.page-addresses .address, .page-addresses .address .address-body h4 {
    font-size: 14px;
    color: #6c6c6c;
}

.psgdprinfo17 {
    font-size: 14px;
}

@media (max-width: 767px) {

    div#ap5-buy-block-container {
        position: inherit;
    }

    .ap5-product-list {
        margin: 0px 15px auto!important;
        width: 89%!important;
    }

    #main .h1 {
        position: inherit;
        display: inline-block;
        padding: 10px 10px;
        border: 1px solid #ffffff;
        border-radius: 6px;
        right: -30px;
        width: 80%;
        font-size: 25px;
        text-align: center;
        text-transform: capitalize;
    }

    #main .text-justify {
        position: initial;
        width: 96%;
    }

    #main p {
        margin-bottom: 1em;
        min-height: 1px;
        color: #4d4d52;
        font: 400 14px/28px "Source Sans Pro", sans-serif;
    }

    #index #header, #typesapain #header {
         background: none;
    }

    #ap5-pack-product-6 .ap5-pack-product-image {
        top: 0px;
    }

    #ap5-pack-product-5 img {
        margin-top: 25px;
    }

    #ap5-pack-product-5 .ap5-attributes {
        text-align: center;
        right: 0px;
    }

    .alert.animated.shake.alert-warning {
        margin-left: -8px;
    }

    #ap5-buy-container.unvisible {
        width: 69%;
        margin-top: 49px;
        margin-left: -7px;
    }

    .ap5-product-list {
        height: 495px;
    }

    #typesapain #header, #product #header, #checkout #header, #cart #header {
        height: 48px;
    }

    #typesapain #header .header-nav .top-logo, #product #header .header-nav .top-logo, #checkout #header .header-nav .top-logo, #cart #header .header-nav .top-logo {
        display: none;
    }

    #cart .bg-home {
        background: none;
    }

    #header .header-nav {
        background: #1c5201;
    }

    .header-fixed {
        display: none;
    }

    nav.header-nav {
        height: 48px;
    }

    #header .header-nav .top-logo a img {
        max-height: 100px;
        position: relative;
        top: 60px;
    }

    #block_top_menu {
        position: relative;
        left: 5px;
        top: 0px;
    }
/*
    .sf-menu li:nth-child(8) {
        display: none;
    }*/

    .sf-menu {
        display: block;
    }

    .sf-menu > li > a {
        margin: 0 15px;
        text-transform: none !important;
        color: #5D5D5D !important;
        display: block;
    }

    #index .sf-menu.sf-js-enabled>li:first-child a {
        color: #007100!important;
    }

    .dropdown select>option:checked {
        background: #8bb76f;
        color: #0a0a0a !important;
    }

    .dropdown select>option {
        color:#333333;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .footer-container {
        padding-left: 62px;
    }

    #footer .footer-container .h3:after {
        display: block;
        content: "\f055";
        font-family: FontAwesome;
        position: absolute;
        right: 90px;
        top: 45px;
    }

    .footer-block.footer-adresse {
        margin-left: -30px;
        margin-bottom: 10px;
    }

    .logo_paiement {
        width: 65%;
        float: left;
    }

    #cart .product-line-grid-left {
        width: 50%;
    }

    .product-line-grid-right .product-price {
        color: #1d5202;
        margin-left: -32px;
    }

    .block-promo .promo-input+button {
        margin-top: 5px;
    }

    .block-promo .promo-input {
        width: 100%;
    }

    .forgotten-password .form-fields label.required, label.col-md-3.form-control-label.required, label.col-md-3.form-control-label {
        width: 52%;
        text-align: left;
    }

    #entreprise .contact-entre {
        font-size: 25px;
        padding-top: 6px;
    }

    .pm-ap-owl-dots {
        display: none;
    }
}