/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 #steps .step-desc #resp_content .description>div {
    margin-top: 0;
    padding: 8px 27px;
    max-height: 28vh;
    color: #fff;
    clear: both;
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
}

#resp_content {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 9px 15px 100px;
    position: relative;
    height: 95vh;
}

#steps {
    height: 115vh;
    margin-top: 35px;
}

.container_images {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 95vh;
    overflow-y: scroll;
}

body#checkout #header .header-nav {
    max-height: none;
    padding: .9375rem 0;
    border: none;
    margin-bottom: 0;
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 20%);
    background-color: darkgreen;
}