@import "compass";
@import "theme_variables";
#block_top_menu {
	// padding-top: 25px;
	
				position: absolute;
	  right: 0;
	  width: auto;
	  padding: 0;
	  top: 110px;
			
	@media (max-width: $screen-md) {
	position: absolute;
	  right: 0;
	  width: 100%;
	  padding: 0;
	  top: 120px;
	}
	@media (max-width: $screen-phone) {
		background:#F6F6F6;
	}
	@media (max-width: $screen-tablet) {
		background:#F6F6F6;
	}
	@media (max-width: $screen-md) {
		background:#F6F6F6;
	}
	
}
#header #block_top_menu {
	@media (max-width: $screen-xs) {
	position: absolute;
	  right: 0;
	  width: 100%;
	  padding: 0;
	  top: 124px;
	}
}
#header.header-fixed {
	#header_logo {
		@media (max-width: $screen-md) {
			display: none;
		}
	}
}
#header {
	#header_logo img {
		@media (max-width: $screen-md) {
			position: relative;
			top: -20px;
		}
		@media (max-width: $screen-tablet) {
			position: relative;
			top: 0px;
		}
	}
}
